h1 {
    color: white;
    margin: 0;
    padding: 40px;
}

.red { background-color: red; }

.orange { background-color: orange; }

.yellow { background-color: yellow; }

.green { background-color: green; }

.blue { background-color: blue; }

.indigo { background-color: #4b0082; }

.violet { background-color: #ee82ee; }

